<section class="section" id="experience"></section>
<div class="section-title vibrate">{{ titulo }}</div>
<!-- BARRA DE PROGRESO -->
<div class="BARRAS">
  <ng-container *ngFor="let skill of skills">
    <img class="logo" [src]="skill.logo" alt="logo {{ skill.tecnology }}" />
    <div class="tecnology">{{ skill.tecnology }}</div>
    <div class="progress">
      <div class="percent-bar" [style.width]="skill.percent + '%'">
        <div class="wheel"></div>
      </div>
    </div>
  </ng-container>
</div>
