.logoArg {
  width: 46px;
  height: 46px;
  margin-top: 0;
}

.name-program {
  display: flex;
  flex-direction: row;
  color: rgb(10, 9, 9);
  align-items: center;
  line-height: 18px;
  font-size: 22px;
  margin: auto;
  gap: 4px;
}

.sectionLogo {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: auto 0 auto 2%;
}
