<div class="section">
  <div class="title">Mis Proyectos</div>
  <section>
    <img src="assets/bear-Animation.png" alt="imagen oso animación" />
    <img src="assets/PortfolioHTML.png" alt="imagen de portafolio en html" />
    <img
      src="assets/ProductProject.png"
      alt="imagen de pagina de un producto"
    />
    <img src="assets/tributePag.png" alt="imagen de una pagina de tributo" />
  </section>
  <div style="display: flex; justify-content: center; gap: 10%">
    <a
      class="btn btn-light"
      href="https://github.com/SamantaDriuzzi"
      role="button"
    >
      Ver proyecto <i>Oso Animado</i>
    </a>
    <a
      class="btn btn-light"
      href="https://github.com/SamantaDriuzzi"
      role="button"
      >Ver proyecto <i>Portafolio en HTML</i>
    </a>
    <a
      class="btn btn-light"
      href="https://github.com/SamantaDriuzzi"
      role="button"
      >Ver proyecto <i>Pagina de productos</i>
    </a>
    <a
      class="btn btn-light"
      href="https://github.com/SamantaDriuzzi"
      role="button"
      >Ver proyecto <i>Pagina de Tributo</i>
    </a>
  </div>
</div>
