<section class="experience-section" id="experience">
  <div class="experience-title vibrate">{{ titulo }}</div>
  <div class="expList">
    <div
      *ngFor="let experience of experiences"
      style="display: inline-block; width: 50%"
    >
      <h3>{{ experience.title }}</h3>
      <br />
      <p>
        {{ experience.company }} |
        {{ getExperienceDuration(experience.startDate) }}
      </p>
      <img [src]="experience.logo" alt="logo {{ experience.company }} " />
      <p>{{ experience.description }}</p>
    </div>
  </div>
</section>
