<section class="education-section" id="education">
  <div class="education-title vibrate">{{ titulo }}</div>
  <div class="expList">
    <div
      *ngFor="let education of educations"
      style="display: inline-block; width: 50%"
    >
      <h3>{{ education.title }}</h3>
      <br />
      <p>
        {{ education.company }} |
        {{ getExperienceDuration(education.startDate) }}
      </p>
      <img [src]="education.logo" alt="logo {{ education.company }} " />
      <p>{{ education.description }}</p>
    </div>
  </div>
</section>
