<div class="about">
  <p>
    Soy una apasionada estudiante de programación de 31 años. Después de haber
    trabajado en ventas y atención al cliente durante 10 años, decidí dar un
    giro en mi carrera y ahora estoy dedicando mi tiempo y energía a aprender
    todo lo que puedo sobre desarrollo web.
    <br />
    <br />
    Actualmente, estoy participando en el curso de "Argentina Programa" y otros
    cursos autodidactas para mejorar mis habilidades y fortalecer mi perfil
    profesional.
  </p>
</div>
